.slide-enter { transform: translateX(100%) }
.slide-enter-to { transform: translateX(0) }

.slide-leave { transform: translateX(0) }
.slide-leave-to { transform: translateX(100%) }

.slide-enter-active,
.slide-leave-active { transition: all 0.5s ease-in-out }

.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width:100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width:100%;
  opacity: 0;
}

