$enable-grid-classes:                         true !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 1185px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 960px,
  xl: 1264px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$grid-columns:       12 !default;
$grid-gutter-width:  30px !default;
$grid-row-columns:   6 !default;

